.card-project {
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.card-project .image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-project img {
    /* width: 100%; */
    box-shadow: 5px 5px 0px #fff;

}

.card-project .project {
    text-decoration: none;
}

.card-project.-blue {
    background-color: #4c5b84;
}

.card-project.-green {
    background-color: var(--color-second);
}

.card-project:hover {
    transform:scale(1.05);
    transition: transform 0.1s linear;
}

@media screen and (max-width: 880px) {

    .card-project img {
        width: 90%;
    }
}