.icon-menu {
    display: none !important;
}

@media screen and (max-width: 880px) {

    .icon-menu {
        display: block !important;
        color: #000;
        font-size: 50px !important;
        cursor: pointer;    
    }

    .icon-menu:hover {
        color: #fff;
    }
}