.main-section {
    background-color: var(--color-first);
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 10px solid var(--color-second);
}

.main-section .main-title {
    margin-bottom: 40px;
}

.main-section.-second {
    background-color: var(--color-black-second);
    border-bottom: 10px solid var(--color-first);
}

.main-section.-third {
    background-color: #000;
    border-bottom: 10px solid var(--color-second);
}