.main-section {
    background-color: var(--color-first);
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 10px solid var(--color-second);
}

.main-section .main-title {
    margin-bottom: 40px;
}

.main-section.-bgSecond {
    background-color: var(--color-second);
}

.main-section.-bgBlack {
    background-color: #000;
}

.main-section.-bgBlackSecond {
    background-color: var(--color-black-second);
}

.main-section.-bdFirst {
    border-bottom: 10px solid var(--color-first);
}

.main-section.-bdSecond {
    border-bottom: 10px solid var(--color-second);
}

.main-section.-bdBlack {
    border-bottom: 10px solid #000;
}

.main-section.-bdBlackSecond {
    border-bottom: 10px solid var(--color-black-second);
}