.main-menu {
    display: none !important;
}

@media screen and (max-width: 880px) {

    .main-menu {
        display: block !important;
        color: #fff;
        font-size: 50px !important;
        cursor: pointer;    
    }

    .main-menu:hover {
        color: var(--color-first);
    }
}