.section {
    background-color: var(--color-first);
    padding-top: 30px;
    padding-bottom: 60px;
    border-bottom: 10px solid var(--color-second);
}

.section .main-title {
    margin-bottom: 40px;
}