.wrapper-skill {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.wrapper-skill .skill-tech {
    width: 430px;
}

.wrapper-skill .skill-tech:nth-child(odd) {
    margin-left: auto;
}