@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

:root {
    --color-first: #835dd7;  
    --color-second: #879926;  
    --color-third: #7150b9;  
    --color-black-first: #000000;  
    --color-black-second: #3A4042;  
    --color-black-third: #828282;  
}

header {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-second);
    border-bottom: 10px solid #000;
    padding: 10px 20px;
}

nav {
    display: flex;
    gap: 40px;
}

header a {
    display: inline-flex;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
}

header a::before {
    content: "";
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}

header a:hover {
    transform:scale(1.05);
    transition: transform 0.1s linear;
}

.button {
    display: inline-block;
    background-color: var(--color-first);
    padding: 18px 20px;
    box-shadow: 5px 5px 0px #000;
    align-items: center;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    transition: transform 0.1s linear;
}

.button:hover {
    background-color: var(--color-third);
    transform:scale(1.05);
}
