@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --color-first: #835dd7;  
    --color-second: #879926;  
    --color-third: #7150b9;  
    --color-black-first: #000000;  
    --color-black-second: #3A4042;  
    --color-black-third: #828282;  
}

img[alt] {
    font-family: 'Fira Code', monospace;
    font-size: 10px;
}

nav {
    display: flex;
    gap: 40px;
}

.about {
    display: flex;
    justify-content: center;
    color: #fff;
    text-align: justify;
    max-width: 1030px;
    padding: 50px 40px 0;
    margin: auto;
}